.image {
  height: 300px;
  background-position: center;
  background-size: cover;
}
.react-responsive-modal-closeButton {
  display: none;
}
.react-responsive-modal-modal {
  width: 50% !important;
  border-radius: 5%;
  text-align: center !important;
}

.deleteImage {
  width: 120px;
}
.deleteContent {
  text-align: center;
}
.deleteText {
  font-size: larger;
  margin-top: 30px;
  color: #136162;
}
.deleteButtons {
  text-align: left;
  padding-top: 35px;
  padding-left: 10px;
}
#adimnModal {
  .react-responsive-modal-modal {
    border-radius: 5%;
    text-align: center !important;
  }
}
