.reset-password {
	.reset-password-holder {
		.banner {
			position: relative;
			.caption-head {
				font-size: 30px;
				font-weight: 300;
				line-height: 35px;
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding: 80px 5%;
				color: #fff;
				background: #13616399;
				h2 {
					font-size: 50px;
					font-weight: 300;
					line-height: 60px;
					margin-bottom: 0;
				}
			}
		}
		.form-holder {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			padding: 100px 0; 
			flex-direction: column;
			h2{
				color: rgba(5, 36, 37, 0.87);
				font-weight: normal;
				font-size: 45px;
				margin-bottom: 35px;
				text-align: center;
			}
			.form-box {
				max-width: 295px;
				width: 100%;
			}
		}
	}
}
